[mysqld]
port = 3306
bind-address = 0.0.0.0
datadir = /var/lib/mysql

#Port lal WordPress container to connect
#Allow connection from other containers in Docker network
#Data directory do linked to Docker named volume
